{$PUBLIC_SITE_ADDRESS} {
  encode zstd gzip
  header Referrer-Policy "strict-origin-when-cross-origin"

  reverse_proxy /api/* go-api:8080
  reverse_proxy /health go-api:8080
  reverse_proxy /ready go-api:8080

  reverse_proxy frontend:3000
}
